


/*add fonts*/


@font-face {
  font-family: "Roboto";
  src:  local("Roboto"),
        url("fonts/roboto.woff2") format("woff2"),
        url("fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Medium";
  src:  local("Roboto Medium"),
        url("fonts/robotomedium.woff2") format("woff2"),
        url("fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold";
  src:  local("Roboto Bold"),
        url("fonts/robotobold.woff2") format("woff2"),
        url("fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/*add main colors*/
:root {
  --soft-red:#FB565A;
  --soft-red-dark: #E74246;
  --soft-red-darknest: #D7373B;
  --light-gray-submit: #949694;
  --very-dark-gray: #4D4D4D;
  --light-gray-submit-contact: #cddfcd38;
  --light-gray:#EEEEEE;
  --light-gray-dark: #DFDFDF;
  --light-gray-darknest: #D5D5D5;
  --lime-green:#00CA74;
  --lime-green-dark:#00BC6C;
  --lime-green-darknest: #00AA62;
  --soft-yellow:#EFC849;
  --soft-yellow-dark:#EAB534;
  --soft-yellow-darknest:#E5A722;
  --black: #000000;
  --white: #FFFFFF;
  --gray: #DBDBDB;
  --gray-range: #ABABAB;
  --light-gray-range: #CFCFCF;
  --lead-grey: #666666;
  --light-graylish-blue: #D7DCDE;
  --grayish-blue: #B4B9BB;
  --graylish-blue: #283136;
}
html{
  height: 100%;
}
body {
  min-width: 1240px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
      align-content: start;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
iframe{
  width: 100%;
  border: 0;
}
.main-navigation{
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: black;
  background-color: var(--light-gray);
}
.site-navigation,
.partners-list,
.social-media-list {
  list-style: none;
}
.cart{
  margin-top: 26px;
}
.site-navigation-item{
  margin-right: 45px;
}
.site-navigation-item a:hover,
.cart a:hover{
  color: var(--soft-red);
}
.site-navigation-item a:active,
.cart a:active{
  color: var(--black);
  opacity: 0.3;
}
.cart a{
  padding-left: 40px;
  background: url(img/cart-icon.svg) no-repeat left center;
}
.nav-active-item{
  border-bottom: 2px solid var(--soft-red);
}
.site-navigation a,
.cart a,
.products-sort-item a {
  color:var(--black);
}
.slider{
  padding-top: 1px;
  position: relative;
}
.slider-controls{
  position: absolute;
  top: 317px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slider-controls button {
  padding: 0;
  margin-right: 17px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
}
.slider-item{
  min-height: 431px;
  display: none;
  padding-top: 1px;
}
.slider-current{
  display: block;
}
.slider-controls .button-current {
  background-image: url(img/slider_bg.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.slider-item-header{
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  padding: 0;
  margin-top:78px;
  margin-bottom:25px;
}
.slider-item-description{
  margin-bottom: 55px;
}

.slider-item:first-child{
  background: url(img/slider1_back.png) 100% 0  no-repeat;
}
.slider-item:nth-child(2){
  background: url(img/slider2_back.png) 100% 0  no-repeat;
}
.slider-item:nth-child(3){
  background: url(img/slider3_back.png) 100% 0  no-repeat;
}

li{
  list-style: none;
}
.advantages{
  margin-top:80px;
  min-height: 347px;
  width: 1100px;
  margin-bottom: 121px;
}
.advantages-list{
  margin:0;
  padding:0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 100px 1fr 100px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  row-gap: 50px;
}
.advantages-item-header{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 171px;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.advantages-item-description{
  margin-bottom: 49px;
}
.advantages-item{
  background-repeat: no-repeat;
  background-size: 300px 146px;
  width: 300px;
}
.advantages-item:first-child{
  background-image: url(img/advantages_item_1_bg.png);
}
.advantages-item:nth-child(2){
  background-image: url(img/advantages_item_2_bg.png);
}
.advantages-item:last-child{
  background-image: url(img/advantages_item_3_bg.png);
}

.button{
 padding: 17px 40px 15px 39px;
 border-radius: 3px;

}
.button-position{
  vertical-align: bottom;
}
.slider-item > .button{
  line-height: 18px;
  padding: 17px 54px 15px 55px;
}
.button-red,
.button-yellow,
.button-green{
  color:var(--white);
}
.button-yellow{
  background-color: var(--soft-yellow);
}
.button-yellow:hover{
  background-color: var(--soft-yellow-dark);
}
.button-yellow:active{
  background-color: var(--soft-yellow-darknest);
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.button-green{
  background-color: var(--lime-green);
}
.button-green:hover{
  background-color: var(--lime-green-dark);
}
.button-green:active{
  background-color: var(--lime-green-darknest);
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.button-red{
  background-color: var(--soft-red);
}
.button-red:hover{
  background-color: var(--soft-red-dark);
}
.button-red:active{
  background-color: var(--soft-red-darknest);
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.contacts .button-red{
  padding: 17px 44px 15px 44px;
}
.contacts .button-red:hover{
  background-color: var(--soft-red-dark);
}
.contacts .button-red:active{
  background-color: var(--soft-red-darknest);
}
.button-grey{
  color:var(--black);
  background-color: var(--light-gray);
}
.button-grey:hover{
  background-color: var(--light-gray-dark);
}
.button-grey:active{
  background-color: var(--light-gray-darknest);
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button:active .button-text{
  opacity: 0.3;
}
.button-pagination{
  padding: 17px 20px 15px 20px;
}
.button-pagination:hover{
  background-color: var(--light-gray-dark);
}
.pagination a:active{
  background-color: var(--light-gray-darknest);
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.pagination-active-item{
  padding: 14px 17px 12px 17px;
  border: 3px solid var(--gray);
  background-color: var(--white);
  pointer-events: none;
}
.button-next{
  padding: 17px 77px 15px 78px;
}
.button-buy{
  padding: 17px 72px 15px 72px;
  font-weight: 500;
  line-height: 18px;
}

.services{
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}
.services-list{
  padding-left: 35px;
}
.services-item{
  margin-bottom: 23px;
  position: relative;
}
.services-item::before{
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--soft-red);
  left: -40px;
  top: 10px;
}
.services-header{
  font-size: 45px;
  line-height: 45px;
  margin-top: 33px;
  margin-bottom: 32px;
}
.services-subheader,
.statistic-header{
  text-transform: uppercase;
  font-weight: 700;
}
.services-subheader{
  margin-top: 40px;
  margin-bottom: 23px;
}
.statistic-header{
  margin-bottom: 31px;
  padding-left: 25px;
  max-width: 360px;
}
.statistic{
  background: url("img/nerds_logo.png") no-repeat;

}
.index-columns{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr 50px 1fr;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 100px;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
.partners{
  margin-bottom: 125px;
  min-height: 184px;
  border-bottom: 2px solid var(--light-gray);
  border-top: 2px solid var(--light-gray);
}
.partners-list{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin:0;
  margin-top: 46px;
  margin-bottom: 44px;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.partners-item{
  -ms-grid-column-align: center;
      justify-self: center;
  opacity: 0.2;
}
.partners-item:hover{
  opacity: 1;
}
.partners-item:active{
  opacity: 0.1;
}
.statistic table{
  border-collapse: collapse;
  margin-top: 242px;
}
.statistic-numbers{
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  padding-bottom: 10px;
  padding-left: 20px;
}
.statistic-numbers sup{
  font-size: 26px;
  line-height: 40px;
}
.statistic-description{
  line-height: 18px;
  color: var(--graylish-blue);
  padding-left: 20px;
}
.contacts-header{
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 49px;
}
.contacts-area{
  color: var(--lead-grey);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.cta-wrapper{
  word-break: break-all;
}
.cta-header{
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 10px;
}
.cta-text{
  line-height: 22px;
  margin: 0;
}
.map{
  height: 416px;
  background: url("img/map.png") no-repeat;
  background-size: 100vw 416px;
  position: relative;
  margin-bottom: 74px;
}

.page-header h1{
  text-align: center;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin-top: 78px;
  padding-bottom: 108px;
  background-color: var(--light-gray);
}
legend,
.products-sort-header{
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin:0;
  padding:0;
}

.products-sort-item{
  font-size: 14px;
  line-height: 18px;
  margin-right: 20px;
  margin-bottom: 10px;
  opacity: 0.3;
}
.products-sort-item:hover{
  opacity: 0.6;
}
.products-sort-item:active{
  opacity: 1;
}
.products-sort-item:nth-child(4){
  min-height: 11px;
  min-width: 10px;
  cursor: pointer;
  margin-left: 27px;
  background: url("/img/icon-up-dir.svg") no-repeat;
}
.products-sort-item:nth-child(5){
  min-height: 11px;
  min-width: 10px;
  cursor: pointer;
  background: url("/img/icon-down-dir.svg") no-repeat;
}
.products-item-header h3{
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color:var(--black);
  margin-top: 26px;
  margin-bottom: 12px;
}
.products-item-header:hover h3{
  color: var(--soft-red);
  cursor: pointer;
}
.products-item-header:active h3{
  color: var(--black);
  opacity: 0.3;
}
.products-item-description{
  font-size: 16px;
  line-height: 18px;
  padding: 0 20px;
  color: var(--lead-grey);
}
.products-item img{
  -o-object-fit: cover;
     object-fit: cover;
}
.modal-window{
  background-color: var(--light-gray);
  text-align: center;
  display: none;
  min-height: 231px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}
label{
  font-size: 16px;
  line-height: 20px;
  color: var(--graylish-blue);
}
fieldset{
  border: none;
  margin:0;
  padding:0;
}
.grid-item{
  margin-bottom: 20px;
  margin-left:34px;
}

.min-price,
.max-price{
  text-transform: uppercase;
  line-height: 22px;
  color: var(--graylish-blue);
}
.main-filter ul{
  padding: 0;
  margin: 0;
  padding-top:13px;
}
.range-filter {
  width: 260px;
  margin-top: 49px;
}
.range-controls {
  height: 41px;
  position: relative;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--light-gray);
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;
  background-color: var(--light-graylish-blue);
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--lime-green);
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: var(--gray-range);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 var(--light-gray-range);
          box-shadow: 0 2px 1px 0 var(--light-gray-range);
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--graylish-blue);
  border: none;
  border-radius: 5px;
  background: var(--light-gray);
}
.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}


.submit{
  border: none;
  padding: 17px 89px 15px 88px;
  text-transform: uppercase;
  cursor: pointer;
}
.submit:hover{
  background-color: var(--light-gray-dark);
}
.submit:active{
  background-color: var(--light-gray-darknest);
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: var(--light-gray-submit);
}

.price-filter{
  margin-bottom: 48px;
}
.grid-filter{
  margin-bottom: 43px;
}
.features-filter{
  margin-bottom: 29px;
}
.features-item{
  margin-bottom: 19px;
  margin-left:34px;
}
.site-navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin:0;
  padding:0;
  margin-top: 26px;
}
.main-navigation{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 160px 40px 1fr 40px -webkit-min-content;
  -ms-grid-columns: 160px 40px 1fr 40px min-content;
  grid-template-columns: 160px 1fr -webkit-min-content;
  grid-template-columns: 160px 1fr min-content;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.container{
  width: 1140px;
  margin: 0 auto;
}
.main-navigation-wrapper{
  margin-top:50px;
}
.main-header-logo{
  width: 160px;
  height: 65px;
  padding-bottom: 1px;
}
.main-header-logo:hover{
  opacity: 0.7;
}
.main-header-logo:active{
  opacity: 0.3;
}
.main-header{
  background-color: var(--light-gray);
  padding-top: 1px;
}

.social-media{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 140px 3fr;
  grid-template-columns: 1fr 3fr;
  -webkit-column-gap: 140px;
     -moz-column-gap: 140px;
          column-gap: 140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-media-item{
  margin-right: 9px;
  text-align: center;
}
.contacts{
  width: 319px;
  min-height: 308px;
  background-color: var(--white);
  position: absolute;
  left: 9.72%;
  top: 12.98%;
}
.contacts-button-wrapper{
  margin-top: 45px;
}
.contacts-wrapper{
  width: 220px;
  margin:0 auto;
}
.contacts-phone{
  text-decoration: none;
  color: var(--lead-grey);
}
.slider-bg{
  background-color: var(--light-gray);
}
.inner-page{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 260px 100px 1fr 100px 1fr;
  grid-template-columns: 260px repeat(2, 1fr);
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  margin-top: 55px;
}
.products-grid{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns:1fr 40px 1fr;
  grid-template-columns:repeat(2, 1fr);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 95px;
}
.products{
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}
.products-item{
  width: 360px;
  min-height: 580px;
  margin: 0;
  padding:0;
  position: relative;
}
.products-item::before{
  content: "";
  position: absolute;
  background-image: url(img/browser.jpg);
  width: 360px;
  height: 40px;
  top:-40px;
  opacity: 0.12;
}
.products-item:hover::before{
  opacity: 1;
}
.products-item:hover .modal-window{
  display: block;
}
.products-list,
.products-sort-list{
  margin:0;
  padding: 0;
}
.products-list{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 70px;
}

.products-sort-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pagination{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 55px;
  margin-bottom: 60px;
  padding: 0;
}
.pagination-item{
  margin-right: 11px;
  margin-bottom: 50px;
}

.products-item-description{
  margin: 0;
  padding-bottom: 32px;
}
.contact-us{
  width: 960px;
  position: fixed;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  display: none;
}

.contact-us-form{
  background-color: var(--white);
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  padding: 63px 99px 37px 100px;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 35px;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.contact-us-form label{
  font-weight: 700;
  line-height: 18px;
}
.contact-us-form label{
  grid-column: 1/-1;
}
.contact-us-form .username-label{
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.contact-us-form .email-label{
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.contact-us-form .message-label{
  grid-column: 1/-1;
}
.contact-us-form .submit{
  width: 260px;
}
.contact-us-form .submit:hover{
  background-color: var(--soft-red-dark);
}
.contact-us-form .submit:active{
  background-color: var(--soft-red-darknest);
  -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: var(--light-gray-submit-contact);
}

.contact-us-form h2{
  font-weight: 700;
  font-size: 45px;
  line-height: 52.73px;
  text-transform: none;
  grid-column: 1/-1;
}
.contact-us #username,
.contact-us #email{
  min-height: 50px;
}
.contact-us #username,
.contact-us #email,
.contact-us textarea{
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 9px;
  border: 2px solid var(--light-graylish-blue);
  border-radius: 3px;
  padding-left: 16px;
}
textarea{
  max-width: 100%;
  min-width: 200px;
  min-height: 200px;
}
.contact-us textarea{
  padding-top: 16px;
}
.contact-us #username:hover,
.contact-us #email:hover,
.contact-us textarea:hover{
  border-color: var(--grayish-blue);
}

.contact-us #username:focus,
.contact-us #email:focus,
.contact-us textarea:focus{
  border-color: var(--black);
}
.social-media-list{
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.svg:hover .svg-bg{
  fill: var(--soft-red-dark);
}
.svg:active .svg-bg{
  fill: var(--soft-red-darknest);
}
.svg:active .svg-logo{
  opacity: 0.3;
}
.svg:hover{
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.modal-close-mark{
  position: absolute;
  right: 90px;
  top: 78px;
  cursor: pointer;
}
.modal-open{
  display: block;
}
.modal-close-mark:hover g{
  opacity: 1;
}
.modal-close-mark:active g{
  opacity: 0.1;
}

.features-list label,
.grid-list label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.features-list,
.grid-list{
  max-width: 260px;
}
.features-item-checkbox + label::before{
  content: "";
  position: absolute;
  left: -34px;
  top: 0;
  width: 19px;
  height: 19px;
  border: 2px solid var(--very-dark-gray) ;
  opacity: 0.4;
  border-radius: 3px;
}
.features-item-checkbox:checked + label::before{
  border: none;
}
.features-item-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -34px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url(img/checkbox-active.svg),
                    url(img/checkbox-non-active.svg);
  background-repeat: no-repeat;
  background-position:  5px 1px,
                        0 0;
  opacity: 0.4;
}
.grid-item-radio + label::before{
  content: "";
  position: absolute;
  left: -34px;
  top: 0;
  width: 17px;
  height: 17px;
  border: 4px solid var(--very-dark-gray) ;
  opacity: 0.4;
  border-radius: 50%;
}
.grid-item-radio:checked + label::before{
  border: none;
}
.grid-item-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -34px;
  top: 0;
  width: 17px;
  height: 17px;
  background-image: url(img/radio-active.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid var(--very-dark-gray) ;
  opacity: 0.4;
  border-radius: 50%;
}
.features-item-checkbox:disabled + label::after,
.features-item-checkbox:disabled + label::before,
.grid-item-radio:disabled + label::before,
.grid-item-radio:disabled + label::after{
  opacity: 0.1;
}
.features-item-checkbox:disabled + label:hover,
.features-item-checkbox:disabled + label:hover,
.grid-item-radio:disabled + label:hover,
.grid-item-radio:disabled + label:hover{
  cursor: default;
}
.features-item-checkbox:hover + label::before,
.features-item-checkbox:hover + label::after,
.grid-item-radio:hover + label::before,
.grid-item-radio:hover + label::after{
  opacity: 1;
}


@keyframes form-show{
  from {
    bottom: 0%;
  }
  50% {
    bottom: 60%;
  }
  to {
    bottom: 50%;
  }
}
.contact-us{
  animation-name: form-show;
  animation-duration: 0.5s;
}
input:invalid{
  color: var(--soft-red-dark);
}
